{% extends 'base.html' %}
{% block body %}
<style>
    .custom-position {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .portfolio-text {
        font-size: 4rem;
    }

    .btn-container {
        position: absolute;
        bottom: 40%;
        /* ปรับให้ปุ่มอยู่ด้านล่าง */
        left: 50%;
        transform: translateX(-50%);
    }

    .bg {
        background-color: black;
        color: black;
    }
</style>

<div class="bg">
    <div class="custom-position text-black">
        <h1 class="display-1" style="font-size: 6rem;">Anandaa69</h1>
        <span class="portfolio-text">Portfolio</span>
    </div>
    <!-- ปุ่ม Let's Start -->
    <div class="btn-container">
        <a class="btn btn-primary btn-lg" href=" {{ url_for('ports') }}" style="color: white;">
            Let's Start
        </a>
    </div>
</div>
{% endblock %}