{% extends 'base.html' %}
{% block body %}
<style>
    .custom-position {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        display: flex;
        flex-direction: column;
        align-items: flex-center;
    }

    .portfolio-text {
        font-size: 2rem;
    }

    .btn-container {
        position: absolute;
        bottom: 40%;
        /* ปรับให้ปุ่มอยู่ด้านล่าง */
        left: 50%;
        transform: translateX(-50%);
    }

    .first-section {
        height: 900px; /* Set a fixed height for the first section */
        overflow: hidden; /* Ensures content that overflows does not appear */
        background-color: black;
        color: white;
    }

    .second-section {
        display: flex;
        height: 800px;
        overflow: hidden;
    }
    
    .image-zone {
        flex: 7;
        background: 
            linear-gradient(to right, transparent 50%, black 100%), /* Gradient ไล่จากโปร่งใสไปดำ */
            url('/static/images/bg.png'); /* ภาพพื้นหลัง */
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    
    .text-zone {
        flex: 3;
        background-color: black; /* สีพื้นหลังของโซนข้อความ */
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px
    }
    
    .port-2 {
        display: flex;
        height: 800px;
        overflow: hidden;
        background-size: cover;
        background: linear-gradient(to top, transparent 50%, black 100%), /* Gradient ไล่จากโปร่งใสไปดำ */
        url('/static/images/bg.png'); /* ภาพพื้นหลัง */
    }
    
</style>

<div class="first-section">
    <div class="custom-position">
        {% if current_user.is_authenticated %}
        <h1 class="display-1">Hi, {{ current_user.username }}</h1>
        {% else %}
        <h1 class="display-1">Hi, Visitor</h1>
        {% endif %}
        <span class="portfolio-text">Welcome to my Portfolio</span>
    </div>
</div>

<div class="second-section">
    <div class="image-zone"></div>
    <div class="text-zone">
        <h2>Welcome</h2>
        <p>This is a smooth transition between image and text.</p>
    </div>
</div>

<div class="text-zone" style="height: 300px;">
    <h2>Welcome</h2>
    <p>This is a smooth transition between image and text.</p>
</div>
<div class="port-2"></div>

<div class="second-section">
    <div class="text-zone">
        <h2>Welcome</h2>
        <p>This is a smooth transition between image and text.</p>
    </div>
    <div class="image-zone" style="background: linear-gradient(to left, transparent 50%, black 100%),
    url('/static/images/bg.png');"></div>
</div>
{% endblock %}